sudo: false
language: node_js
node_js:
- 9.3.0
os:
- osx
before_install:
- if [ $TRAVIS_OS_NAME == "linux" ]; then export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
  sh -e /etc/init.d/xvfb start; sleep 3; fi
install:
- npm install
script:
- npm test
after_success:
- npm run semantic-release
env:
  global:
  - secure: im3vniEtFXLCwRqWRryeLvn0ToOPGu01CtEYLyREFcQ5ZIe6EPAasSwh3byxlW97g33ccu+M07YFCc6Ohup8LkM3SLExn87g/Y4sFOBBLU1WNeFHnslol4jc9WI5ClvP9EICVzZL5NlZA5hyfp6T5CH4nSzNfoQTeskTaayzA45TJGSQSj6qRdBuPMXKPQQtT3HZtu/Afv82n2S5UUQIXGd9dQpqz3e4/PKEnlH9k4xkj3FkXXAMHAVrnZRErmLOhdfCyMki1XAIgbKV46tecrDMFSs6RN2FtSkWagPjkkOEN1pVxQEHmMUoq893XLDRATd054wjmXOFGnv2HUH18CUUdHVGhLPaleBIBeQkIjuLkExv9wz9INTraK7hIKFabSxRRraH2mV3fBhyhMER4GnGxEnc1U3XuG68Jio0sPmrFaeI3PSH20R0fKgBDIlFC5Bvw4e8VSjglPfTMyAGzkgfdlCzHodfQ19mqJpR2CofK1HtS8hUD8K7Uv5fSCaXWZXAwqE52J2ic9en7Dhe8qUSzT8FlVedk9vuAkI0gVqLIK7Mn2U1nx8yQNpUPkqlTgBPCr9v9Eq5RS5pn6LmkyDcXhNJkZDTTxtLh5weoVcONdM6boYHfTIE525mqDO1xJYpmW08LFW2SHbnjohV+ipSg0vqlUeQnebBRV9DoP8=
  - secure: U41XpBAKw+JnE3PIbaX/KPiIigh4VJVrcV5jY/gzGPF3mbCi1C3bdCNHUU/tCV0ya2lhWGQH+ckPPhUoizlq/ZRs5bM8QWTaQ/P0vzSg6XZWn1WuQENOvu2VbbkCfsILGPFkmhGZhb5jSTKKm0jMGOQsvNAuVYh5zP0vA4srsKAqWHHJExleCHXrCTOJ7q6zHrJ6R01Mf7eJJYtpJJaq9BxfM6cRI3fkIKA7XYRNysbZD0PXIgC46qY63OYN3qqPbPwCiYrxbQ2pVz2LgCgra0dLQHviM2pvbzT4uotx6KiWlfgTDOb+9k1yGWBAiDMmHW7IQco3TFWmy9u9SCVZHQC/GtVtQC7yYkdhTaxbwzH7dpPICjYizGCVO/0BLUd4mVDy2019uXUvwCwgqKydHVe14IYwMirtOZ4O3qpNaYe0qCEy2yuizBPAT1j2bxJaiWKSL0iczcyXzj6h4XSKeNy3N+NTaEfchwIpkwI/ckAggZqjb+jQzniMpYlFgLwb3QxkrKuC8FZzM5vQvMF0mxMYj/SpALS3mSJcNLuCzMAZMhlyL2UFRNmL4Ky/1patqGfhaMxaLBg56+FkIfJB9fNJU1WDqUPn9dSO8koDbCU2YXb19CCUkYEs+xEFQbbaVfHXdUT7LI1WuPSapJ7ChxtOqTOfcaw2E5i6GMzgs38=
